<h1>Model</h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Make Id</th>
    <th scope="col">Make Name</th>
    <th scope="col">Model Id</th>
    <th scope="col">Model Name</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ model.Make_ID }}</td> // This will fetch vehicle id
    <td>{{ model.Make_Name }}</td>// This will fetch vehicle name
    <td>{{ model.Model_ID }}</td> // This will fetch model id
    <td>{{ model.Model_Name }}</td>// This will fetch model name
  </tr>
  </tbody>
</table>
